html {
  font-size: 62.5%;
}

:root {
  margin: 0;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  background-color: #022c43;
  overflow: hidden;
  display: block;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
